@tailwind base;

@layer base {
  :root {
    --background: 270 20% 96.08%;
    --foreground: 0 0% 29.02%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 29.02%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 29.02%;

    --primary: 267.5 42.86% 56.08%;
    --primary-foreground: 0 0% 100%;

    --secondary: 87.5 42.86% 56.08%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 52.94%;

    --accent: 275.56 31.03% 82.94%;
    --accent-foreground: 0 0% 29.02%;

    --destructive: 0 85.58% 59.22%;
    --destructive-foreground: 210 40% 98%;

    --success: 130.73 52.79% 45.69%;
    --success-foreground: 0 0% 100%;

    --border: 217.5 12.12% 87.06%;
    --input: 217.5 12.12% 87.06%;
    --ring: 0 0% 29.02%;

    --radius: 1rem;

    /* --------------------------------- Custom --------------------------------- */

    --primary-200: 267.91 43% 39.22%;
    --primary-300: 0 0% 100%;
    --primary-800: 267.5 33.33% 28.24%;

    --secondary-200: 87.91 34.13% 50.59%;
    --secondary-300: 87.76 33.33% 39.41%;

    --background-200: 273.33 20% 91.18%;
    --background-300: 0 0% 100%;

    --accent-200: 275.45 30.84% 58.04%;
    --accent-300: 273.75 30.77% 89.8%;

    --text: 0 0% 29.02%;
    --text-200: 0 0% 52.94%;
    --text-300: 0 0% 100%;
    --text-400: 267.27 33.62% 44.9%;
    --text-500: 0 0% 23.14%;
  }

  .dark {
    --background: 0 0% 29.02%;
    --foreground: 210 40% 98%;

    --card: 0 0% 29.02%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 29.02%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-primary bg-background text-foreground;
  }

  /* ------------------------------ custom input ------------------------------ */
  input[type="radio"]:checked + label .outer > .inner {
    @apply !opacity-100 !visible;
  }

  input[type="radio"]:checked + label .outer {
    @apply !rounded-full;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
  }

  /* --------------------------------- header --------------------------------- */

  .header {
    @apply h-16 md:h-[88px];
  }

  /* -------------------------------- container ------------------------------- */
  .container-body {
    @apply mx-auto w-full max-w-[1320px] px-5;
  }

  .container-content {
    @apply mx-auto w-full max-w-[940px] px-5;
  }

  /* --------------------------------- heading -------------------------------- */
  .heading-primary {
    @apply font-bold font-secondary text-[44px] text-center leading-[1.2] -tracking-[0.5px];
  }

  .heading-secondary {
    @apply font-bold font-secondary text-[30px] leading-[1.2] -tracking-[0.5px];
  }

  .heading-tertiary {
    @apply font-bold font-secondary text-2xl leading-[1.2] -tracking-[0.5px];
  }

  .heading-section {
    @apply font-medium font-secondary text-[16px] text-text-400 text-center tracking-[0.75px] uppercase;
  }

  h1 {
    @apply heading-primary;
  }

  h2 {
    @apply heading-secondary;
  }

  h3 {
    @apply heading-tertiary;
  }

  h4 {
    @apply heading-section;
  }

  h5 {
    @apply text-xl text-text font-medium;
  }

  h6 {
    @apply text-lg text-text font-medium;
  }

  /* ------------------------------ text classes ------------------------------ */
  .text-small {
    @apply text-xs md:text-sm font-normal leading-[1.6];
  }

  .text-medium {
    @apply text-xs md:text-base font-normal leading-6;
  }

  .text-large {
    @apply text-sm md:text-lg leading-[1.6];
  }

  .text-nav-link {
    @apply text-lg font-medium;
  }

  .text-nav-link-medium {
    @apply text-base font-medium text-text-200;
  }

  .text-footer {
    @apply text-small text-text-200 leading-[1];
  }

  .text-description {
    @apply text-medium text-text-200;
  }

  p {
    @apply text-large;
  }

  /* ---------------------------------- links --------------------------------- */
  .anchor {
    @apply capitalize text-sm md:text-base font-medium text-primary hover:text-primary/70 w-max transition duration-300;
  }

  .anchor-sm {
    @apply capitalize text-sm font-medium underline underline-offset-[5px] text-primary hover:text-secondary w-max transition duration-300;
  }

  .anchor-lg {
    @apply capitalize text-base md:text-lg font-medium underline underline-offset-8 leading-[23px] text-primary hover:text-secondary w-max transition duration-300;
  }

  /* ----------------------------- general classes ---------------------------- */
  .text-shadow {
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  /* --------------------------------- navbar --------------------------------- */
  .navbar {
    @apply absolute top-full left-0 right-0 lg:relative shadow-lg lg:shadow-none;
  }

  .nav-links {
    @apply text-nav-link font-primary text-primary-200 px-4 inline-block hover:shadow-[0_4px_2px_-2px_hsl(var(--primary))] transition-all duration-300;
  }

  /* -------------------------------- scrollbar ------------------------------- */
  ::-webkit-scrollbar {
    @apply w-[15.5px];
  }

  ::-webkit-scrollbar-track {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px_transparent] border-[3.5px] border-solid border-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px] shadow-[#747474]/80 hover:shadow-[#747474] border-[3.5px] border-solid border-transparent transition-colors duration-300;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* ------------------------------ miscellaneous ----------------------------- */

  input.no-autofill-style:-webkit-autofill,
  input.no-autofill-style:-webkit-autofill:hover,
  input.no-autofill-style:-webkit-autofill:focus,
  textarea.no-autofill-style:-webkit-autofill,
  textarea.no-autofill-style:-webkit-autofill:hover,
  textarea.no-autofill-style:-webkit-autofill:focus,
  select.no-autofill-style:-webkit-autofill,
  select.no-autofill-style:-webkit-autofill:hover,
  select.no-autofill-style:-webkit-autofill:focus {
    border: auto;
    -webkit-text-fill-color: hsl(var(--secondary-300));
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  /* -------------------------------- scrollbar ------------------------------- */
  ::-webkit-scrollbar {
    @apply w-[15.5px];
  }

  ::-webkit-scrollbar-track {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px_transparent] border-[3.5px] border-solid border-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px] shadow-[#9A73B5]/80 hover:shadow-[#9A73B5] border-[3.5px] border-solid border-transparent transition-colors duration-300;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* ---------------------------------- focus --------------------------------- */
  *:focus {
    @apply !ring-offset-0 !ring-0;
  }
}

@tailwind components;
@tailwind utilities;
